body {
    background: url(./images/bgd-gif1.GIF)no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#mainPg {
    margin: 3%;
    /* margin-left: 30%; */
    opacity: 60%;
}


@media only screen and (max-width: 625px) {


}