body {
    background: url(./images/bgd-gif1.GIF)
}

/*NAVBAR*/
#navBgd {
    position: absolute;
    height: 80px;
    width: 2000px;
    opacity: 50%;
}

/* NAME */
.titleLogo {
    position: fixed;
    font-family: 'Tech Slanted Font';
    font-size: 45px;
    font-weight: bolder;
    margin-top: .7%;
    margin-left: 2%;
    opacity: 90%;

    background: -webkit-linear-gradient(rgb(83, 83, 83), rgb(158, 158, 158), rgb(255, 255, 255), rgb(124, 202, 255), rgb(15, 159, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.titleLogo:hover {
    transform: scale(1.01, 1.01);
    background: -webkit-linear-gradient(rgb(3, 0, 151), rgb(0, 60, 255), rgb(83, 255, 255), rgb(124, 144, 255), rgb(99, 15, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* PAGE OPTIONS */
#pgOptions {
    margin-left: 65%;
}

.pages {

    font-family: 'Tech Slanted Font';
    font-weight: bolder;
    font-size: 21px;
    margin-top: 1.5%;
    margin-left: 2%;
    opacity: 90%;

    background: -webkit-linear-gradient(rgb(83, 83, 83), rgb(158, 158, 158), rgb(255, 255, 255), rgb(124, 202, 255), rgb(15, 159, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.pages:hover {
    transform: scale(1.05, 1.05);
    background: -webkit-linear-gradient(rgb(3, 0, 151), rgb(0, 60, 255), rgb(83, 255, 255), rgb(124, 144, 255), rgb(99, 15, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@font-face {
    font-family: 'Tech Slanted Font';
    src: url('./CfTechnoramaRegular-X2xg.ttf')
}


/*MEDIA QUERIES*/
/*Full screen background cover*/
@media only screen and (min-width: 1250px) {
    body{
    background: url(./images/bgd-gif1.GIF)no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }
}


@media only screen and (max-width: 1800px) {
    .pages{
        font-size: 18px;
    }
}

@media only screen and (max-width: 1600px) {
    /* .pages{
        font-size: 17px;
    } */
        .titleLogo{
        margin-top: 1%;
        font-size: 43px;
    }
}

@media only screen and (max-width: 1500px) {
    #pgOptions {
        margin-left: 55%;
    }
    .pages{
        margin-top: 1.7%;
        /* font-size: 18px; */
    }

}

@media only screen and (max-width: 1450px) {
    /* #pgOptions{
        margin-left: 50%;
    } */
    /* .pages{
        font-size: 15px;
    } */
    .titleLogo{
        font-size: 40px;
    }
}

@media only screen and (max-width: 1350px) {
    /* .pages{
        font-size: 14px;
    } */
    .titleLogo{
        font-size: 38px;
    }
}

@media only screen and (max-width: 1250px) {
    body {
        background-image: url(./images/bgd-gif1.GIF);
        background-size: 1400px 1000px;
    }

    .titleLogo{
        margin-top: 1.3%;
        font-size: 36px;
    }
}

@media only screen and (max-width: 1150px) {
    body {
        background-image: url(./images/bgd-gif1.GIF);
        background-size: 800px 1000px;
    }
    #pgOptions {
        margin-left: 28%;
    }
    .pages {
        margin-top: 4%;
        font-size: 14px;
    }
    .titleLogo{
        margin-top: .4%;
        margin-left: 3%;
        font-size: 26px;
    }
    #navBgd {
        height: 50px;
        width: 1000px;
    }
}



@media only screen and (max-width: 960px) {

    #titleDiv {
        font-size: 48px;
        margin-left: 12%;
    }
}

@media only screen and (max-width: 865px) {

    #titleDiv {
        margin-left: 10%;
    }
}

@media only screen and (max-width: 800px) {

    #titleDiv {
        margin-left: 8%;
    }
}

@media only screen and (max-width: 726px) {

    #titleDiv {
        margin-left: 6%;
    }
}

@media only screen and (max-width: 700px) {

    #titleDiv {
        margin-left: 4%;
    }
}

@media only screen and (max-width: 683px) {

    #titleDiv {
        margin-left: 2%;
    }
}

@media only screen and (max-width: 625px) {

    #titleDiv {
        margin-left: 0%;
    }
}


@media only screen and (max-width: 600px) {

    #titleDiv {
        font-size: 45px;
        margin-left: 2%;
    }
}

@media only screen and (max-width: 575px) {

    #titleDiv {
        font-size: 40px;
        margin-left: 2%;
    }
}

@media only screen and (max-width: 515px) {

    #titleDiv {
        font-size: 37px;
        margin-left: 2%;
    }
}

@media only screen and (max-width: 474px) {

    #titleDiv {
        font-size: 35px;
        margin-left: 2%;
    }

    #rsst5 {
        position: absolute;
        visibility: hidden;
    }
}

@media only screen and (max-width: 450px) {

    #titleDiv {
        font-size: 30px;
        margin-left: 2%;
    }

}


@media only screen and (max-width: 390px) {

    #titleDiv {
        font-size: 25px;
        margin-left: 8%;
    }

    #coverPhoto {
        margin-left: 20%;
    }

    #mediaBtnDiv {
        position: relative;
        visibility: visible;
    }
}

@media only screen and (max-width: 360px) {

    #titleDiv {
        font-size: 25px;
        margin-left: 6%;
    }

    #coverPhoto {
        margin-left: 18%;
    }
}

@media only screen and (max-width: 340px) {

    #titleDiv {
        font-size: 20px;
        margin-left: 6%;
    }

    #coverPhoto {
        margin-left: 15%;
    }

    #buttonDiv {
        position: absolute;
        visibility: hidden;
    }

    #buttonDiv2 {
        position: relative;
        visibility: visible;
    }
}