body {
    background: url(./images/bgd-gif1.GIF)
}

/*NAVBAR*/
#navBgd {
    position: absolute;
    height: 80px;
    width: 2000px;
    opacity: 50%;
}

/* NAME */
.titleLogo {
    position: fixed;
    font-family: 'Tech Slanted Font';
    font-size: 45px;
    font-weight: bolder;
    margin-top: .7%;
    margin-left: 2%;
    opacity: 90%;

    background: -webkit-linear-gradient(rgb(83, 83, 83), rgb(158, 158, 158), rgb(255, 255, 255), rgb(124, 202, 255), rgb(15, 159, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.titleLogo:hover {
    transform: scale(1.01, 1.01);
    background: -webkit-linear-gradient(rgb(3, 0, 151), rgb(0, 60, 255), rgb(83, 255, 255), rgb(124, 144, 255), rgb(99, 15, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* PAGE OPTIONS */
#pgOptions {
    margin-left: 65%;
}

.pages {
    font-family: 'Tech Slanted Font';
    font-weight: bolder;
    font-size: 21px;
    margin-top: 1.5%;
    margin-left: 2%;
    opacity: 90%;

    background: -webkit-linear-gradient(rgb(83, 83, 83), rgb(158, 158, 158), rgb(255, 255, 255), rgb(124, 202, 255), rgb(15, 159, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.pages:hover {
    transform: scale(1.05, 1.05);
    background: -webkit-linear-gradient(rgb(3, 0, 151), rgb(0, 60, 255), rgb(83, 255, 255), rgb(124, 144, 255), rgb(99, 15, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@font-face {
    font-family: 'Tech Slanted Font';
    src: url('./CfTechnoramaRegular-X2xg.ttf')
}

/*MODALS*/
.modalShape {
    border-radius: 25px;
    background-image: url(./images/article-background.gif);
    /* background-image: linear-gradient(rgb(158, 158, 158), rgb(255, 255, 255), rgb(124, 202, 255), rgb(15, 159, 255)); */
    background-size: 1000px 1000px;
  
}
.theTab {
    display: none;
    color: rgb(160, 247, 253);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    padding: 4%;
}

.bioPhoto {
    margin-left: 6.6%;
}

.portfolioPhoto {
    margin-left: 19%;
}

.navICON:hover {
    transform: scale(1.1, 1.1);
}

.iconDiv {
    margin-top: .5%;
    margin-bottom: .5%;
    margin-left: 70%;
}

.contactIcon {
    margin-left: 6.6%;
}

#photoWrap {
    margin-left: 7%;
}

/* #photoWrap {
    margin-left: 1%;
    margin-right: 1%;
}
.profPhoto {
    width: inherit;
    height: inherit;
} */

.headerBgd {
    margin: .1%;
    background-image: url(./images/background.gif);
    background-size: 450px 300px;
    /* background-image: linear-gradient(rgb(156, 156, 156),  rgb(255, 255, 255), rgb(119, 163, 214)); */
    border-radius: 25px;

}

.currentTab {
    margin: .1%;
    background-image: url(./images/background.gif);
    /* background-image: linear-gradient(rgb(156, 156, 156), rgb(255, 255, 255), rgb(119, 163, 214)); */
    background-size: 450px 300px;
    border-radius: 25px;
}

.closeBtn {
    font-family: 'Tech Slanted Font';
    font-size: 12px;
    /* font-weight: bolder; */
    border-radius: 25px;

    background: -webkit-linear-gradient(rgb(63, 210, 255), rgb(83, 255, 255), rgb(83, 255, 255), rgb(255, 255, 255), rgb(83, 255, 255), rgb(83, 255, 255), rgb(63, 210, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.xBtn {
    font-family: 'Tech Slanted Font';
    font-size: 10px;
    font-weight: bolder;
    border-radius: 25px;

    background: -webkit-linear-gradient(rgb(63, 210, 255), rgb(83, 255, 255), rgb(83, 255, 255), rgb(255, 255, 255), rgb(83, 255, 255), rgb(83, 255, 255), rgb(63, 210, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.xBtn:hover {
    background: -webkit-linear-gradient(rgb(3, 0, 151), rgb(0, 60, 255), rgb(83, 255, 255), rgb(124, 144, 255), rgb(99, 15, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
    /* margin: .1%;
    background-image: url(./images/bgd-gif1.GIF);
    background-size: 100px 30px;
    border-radius: 25px;
 */
h2 {
    margin: 1.5%;
    font-family: 'Tech Slanted Font';
    font-size: 20px;
    font-weight: bolder;

    background: -webkit-linear-gradient(rgb(50, 98, 255), rgb(75, 117, 255), rgb(83, 255, 255), rgb(83, 255, 255), rgb(255, 255, 255), rgb(83, 255, 255), rgb(63, 210, 255), rgb(63, 210, 255), rgb(75, 117, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
button {
    font-family: 'Tech Slanted Font';
    font-size: 16px;
    font-weight: bolder;

    background: -webkit-linear-gradient(rgb(83, 83, 83), rgb(158, 158, 158),rgb(124, 202, 255), rgb(15, 159, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h1 {
    font-family: 'Tech Slanted Font';
    font-size: 16px;
    font-weight: bolder;

    background: -webkit-linear-gradient(rgb(83, 83, 83), rgb(158, 158, 158),rgb(124, 202, 255), rgb(15, 159, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}  

    
button:hover {
    background: -webkit-linear-gradient(rgb(3, 0, 151), rgb(0, 60, 255), rgb(83, 255, 255), rgb(124, 144, 255), rgb(99, 15, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*LOGO BUTTONS*/
#imdbBtn {
    border-radius: 25px;
    margin-left: 40%;
}


#imdbBtn:hover {
    transform: scale(1.05, 1.05);
}


/*MEDIA QUERIES*/
/*Full screen background cover*/
@media only screen and (min-width: 1250px) {
    body{
    background: url(./images/bgd-gif1.GIF)no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }
}


@media only screen and (max-width: 1800px) {
    .pages{
        font-size: 18px;
    }
}

@media only screen and (max-width: 1600px) {
    /* .pages{
        font-size: 17px;
    } */
        .titleLogo{
        margin-top: 1%;
        font-size: 43px;
    }
}

@media only screen and (max-width: 1500px) {
    #pgOptions {
        margin-left: 55%;
    }
    .pages{
        margin-top: 1.7%;
        /* font-size: 18px; */
    }

}

@media only screen and (max-width: 1450px) {
    /* #pgOptions{
        margin-left: 50%;
    } */
    /* .pages{
        font-size: 15px;
    } */
    .titleLogo{
        font-size: 40px;
    }
}

@media only screen and (max-width: 1350px) {
    /* .pages{
        font-size: 14px;
    } */
    .titleLogo{
        font-size: 38px;
    }
}

@media only screen and (max-width: 1250px) {
    body {
        background-image: url(./images/bgd-gif1.GIF);
        background-size: 1400px 1000px;
    }

    .titleLogo{
        margin-top: 1.3%;
        font-size: 36px;
    }
}

@media only screen and (max-width: 1150px) {
    body {
        background-image: url(./images/bgd-gif1.GIF);
        background-size: 1400px 1000px;
    }
    .pages {
        margin-top: 2%;
        font-size: 12px;
    }
    .titleLogo{
        margin-top: 1.3%;
        font-size: 35px;
    }
}

@media only screen and (max-width: 1000px) {
    body {
        background-image: url(./images/bgd-gif1.GIF);
        background-size: 1400px 1000px;
    }
    .pages {
        margin-top: 2.5%;
        font-size: 12px;
    }
    .titleLogo{
        margin-top: 1.5%;
        font-size: 30px;
    }
    #photoWrap {
        margin-left: 1%;
        margin-right: 1%;
    }
    .demoPhotoWrap {
        margin-left: 1%;
        margin-right: 1%;
    }
    .iconDiv {
        margin-left: 1%;
        margin-right: 1%;
    }
    .portfolioPhoto {
        margin-left: 1%;
        margin-right: 1%;
        width: inherit;
        height: inherit;
    }
    .profPhoto {
        width: inherit;
        height: inherit;
    }
}

@media only screen and (max-width: 850px) {
    body {
        background-image: url(./images/bgd-gif1.GIF);
        background-size: 900px 1000px;
    }
    #pgOptions {
        margin-left: 55%;
    }
    .pages {
        margin-top: 1.5%;
        font-size: 12px;
    }
    .titleLogo{
        margin-top: .6%;
        margin-left: 3%;
        font-size: 25px;
    }
    #navBgd {
        height: 50px;
        width: 1000px;
    }
}

@media only screen and (max-width: 400px) {
    body {
        background-image: url(./images/bgd-gif1.GIF);
        background-size: 400px 900px;
    }
    #pgOptions {
        margin-left: 15%;
    }
    .pages {
        margin-top: 9%;
        margin-left: 2.5%;
        font-size: 10px;
    }
    .titleLogo{
        margin-top: 1%;
        margin-left: 4%;
        font-size: 20px;
    }
    #navBgd {
        height: 50px;
        width: 1000px;
    }

}


