body {
    background: url(./images/bgd-gif1.GIF)no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*NAVBAR*/
#navBgd {
    position: absolute;
    height: 80px;
    width: 2000px;
    opacity: 50%;
}

/* NAME */
.titleLogo {
    position: fixed;
    font-family: 'Tech Slanted Font';
    font-size: 45px;
    font-weight: bolder;
    margin-top: .5%;
    margin-left: 2%;
    opacity: 90%;

    background: -webkit-linear-gradient(rgb(83, 83, 83), rgb(158, 158, 158), rgb(255, 255, 255), rgb(124, 202, 255), rgb(15, 159, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.titleLogo:hover {
    transform: scale(1.01, 1.01);
    background: -webkit-linear-gradient(rgb(3, 0, 151), rgb(0, 60, 255), rgb(83, 255, 255), rgb(124, 144, 255), rgb(99, 15, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* PAGE OPTIONS */
#pgOptions {
    margin-left: 50%;
}

.pages {

    font-family: 'Tech Slanted Font';
    font-weight: bolder;
    font-size: 20px;
    margin-top: 1.2%;
    margin-left: 1.6%;
    opacity: 90%;

    background: -webkit-linear-gradient(rgb(83, 83, 83), rgb(158, 158, 158), rgb(255, 255, 255), rgb(124, 202, 255), rgb(15, 159, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.pages:hover {
    transform: scale(1.05, 1.05);
    background: -webkit-linear-gradient(rgb(3, 0, 151), rgb(0, 60, 255), rgb(83, 255, 255), rgb(124, 144, 255), rgb(99, 15, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@font-face {
    font-family: 'Tech Slanted Font';
    src: url('./CfTechnoramaRegular-X2xg.ttf')
}

@media only screen and (max-width: 1000px) {
    #mainNav {
        margin-top: 15%;
    }

}

@media only screen and (max-width: 800px) {
    #mainNav {
        margin-top: 20%;
    }

}

@media only screen and (max-width: 800px) {
    #mainNav {
        margin-top: 20%;
    }

}